vendor/
**/*.log
**/*.sqlite
.idea/
bin/
tmp/
node_modules/
.sass-cache/
*-packr.go
public/assets/
invitation
.vscode/
.grifter/
.env
*.fizz
a/
buffalo_build_*.*
*.pem
letsencrypt/accounts/*
c.out
poster/conference_poster_4.aux
poster/conference_poster_4.pdf
poster/*.synctex.gz
**/*.bbl
**/*.bcf
**/*.blg
**/*-blx.aux
**/*-blx.bib
**/*.run.xml
**/__latexindent_temp*.*
**/*.fls
**/*.fdb_latexmk
pgadmin4/web/pgadmin/*
pgadmin4/web/regression/*
pgadmin4/web/migrations/*
pgadmin4/web/*.js