<h1>Invitation Response</h1>

<form id="response-form" action="<%= action_url %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= authenticity_token %>" />
    <div class="form-group">
        <div class="form-check form-check-inline">
            <input id="status1" class="form-check-input btn-login" type="radio" name="status" value="1" />
            <label for="status1">Accept invitation</label>
        </div>
        <div class="form-check form-check-inline">
            <input id="status2" class="form-check-input btn-login" type="radio" name="status" value="2" />
            <label for="status2">Decline invitation</label>
        </div>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Additional Comment (optional)" name="additional_comment"  />
    </div>
    <ul class="list-unstyled list-inline">
        <li class="list-inline-item">
          <input type="submit" class="btn btn-info" value="Send response" />
        </li>
      </ul>
</form>